@media ( max-width: 45em ) {
}

@media ( max-width: 34em ) {
  #forum {
    thead {
      .forum-topics,  .forum-posts  {
        display:none;
      }
    }
    tbody {
      .forum-number-topics, .forum-number-posts {
        display:none;
      }
    }
  }

  #forum-topic-list {
    thead {
      .views-field-comment-count {
        display:none;
      }
    }
    tbody {
      .views-field-number-comment-count {
        display:none;
      }
    }
  }
}

@media ( max-width: 28em ) {
   #forum {
    thead {
      .forum-last-post  {
        display:none;
      }
    }
    tbody {
      .forum-last-reply {
        display:none;
      }
    }
  }

  #forum-topic-list {
    thead {
      .views-field-last-updated {
        display:none;
      }
    }
    tbody {
      .views-field-number-last-updated {
        display:none;
      }
    }
  }
}
