@media ( max-width: 45em ) {
}

@media ( max-width: 34em ) {
  .forum-header {
    .forum-topics, .forum-number-topics, .forum-posts, .forum-number-posts {
      display:none;
    }
  }

  #forum-topic-list {
    .views-field-comment-count, .views-field-number-comment-count {
      display:none;
    }
  }
}

@media ( max-width: 28em ) {
  .forum-header {
    .forum-last-post, .forum-last-reply {
      display:none;
    }
  }

  #forum-topic-list {
    .views-field-last-updated, .views-field-number-last-updated {
      display:none;
    }
  }
}
